<%- include('partials/header.ejs') %>
<!-- CONTEUDO -->
<div class="container fade-in-1">
    <div class="row">
        <%- include('partials/menuLateral.ejs') %>
        <div id="conteudo" class="col-12 col-lg-8 col-xl-9">
            <main>
                <a role="button" class="btn btn-success mt-3 mb-3" href="/generos/inserir">Inserir Gênero</a>
                <table class="table table-stripped">
                    <thead>
                        <th>#</th>
                        <th>Gênero</th>
                        <th>Ações</th>
                    </thead>
                    <tbody>
                        <% generos.forEach(function(genero) { %>
                            <tr>
                                <td><%= genero.id %></td>
                                <td><%= genero.genero %></td>
                                <td><a class="btn btn-primary" href="/generos/alterar/<%= genero.id %>">Alterar</a><a class="btn btn-danger" href="/generos/excluir/<%= genero.id %>">Excluir</a></td>
                            </tr> 
                        <%});%>
                    </tbody>
                </table>

            </main>
        </div>
    </div>
</div>

<!-- FIM CONTEUDO -->

<%- include('partials/footer.ejs') %>